# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

assets
/public/character-spritesheet.tsx
/public/5_Classroom_and_library_Shadowless_48x48.tsx
/public/spritesheet.tsx
/public/8_Gym_Shadowless_48x48.tsx
/public/spritesheet.png
